*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}

.risultato, .utente, .computer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px; 
    margin-top: 5%;
}